<%- include("header"); -%> 

    <body>

        <div class="box" id="heading">
            <h1>Today is <%= kindOfDay %>!</h1>
            <h2><%= typeList %> </h2>
        </div>
        
            <div class="box">
                <form method="post" action="/" class="item">
                    <label for="listing">To-do List</label>
                    <input id="item" type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%= typeList %>">+</button>
                </form>
            <div class="box">
               
                <% newListItems.forEach(element => { %>
            <form method="post" action="/delete">
                <div class="item">
                    <input type="checkbox" name="deleteBox" value="<%= element._id %> " onchange="this.form.submit()">
                    <p><%= element.name %></p>
                </div>
            </form>
                <% }); %> 
                
    
<%- include("footer"); -%> 